@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Slick Carousel Overrides */
.slick-slide > div {
  height: 100%;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: stretch;
}